<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/sites.css' %}" rel="stylesheet" type="text/css">

        <script type="text/javascript" src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery/jquery-3.3.1.js' %}"></script> 

    </head>

<body>
    <div class="sites container details2">
        <div class="section-heading ">
            <div class="section-title">规划指定价位的点单
            </div>
            <div class="design-arrow"></div>
        </div>
        <p class="aligncenter">
            <span>Plup解线性规划问题</span>
        </p>
        
        <form action="Recommend/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="clearfix">
                <div class="cpuCon clearfix">
                    <p class="title">主食</p>
                    <div class="groupList">
                        <div class="form-group">
                            <label class="sr-only labelText" for="exampleInputEmail3">描述:</label>
                            <select id="Staple" class="form-control" name="Staple" style="max-width:160px" onchange="selectOnchang(this)">    
                                <option value="">不想吃主食</option>
                            </select>
                        </div>
                        <div class="form-group groupD">
                            <label class="sr-only labelText" for="exampleInputEmail3">编码:</label>
                            <select id="StapleItem" class="form-control" name="StapleItem" style="max-width:90px" onchange="selectOnchang(this)">    
                                <option value="">选定描述带出</option>
                            </select>
                        </div>
                        <div class="form-group groupD">
                            <label class="sr-only labelText" for="exampleInputEmail3">价格:</label>
                            <select id="StaplePrice" class="form-control" name="StaplePrice" style="max-width:90px" onchange="selectOnchang(this)">    
                                <option value="">选定描述带出</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="leiCon clearfix">
                    <p class="title">小吃</p>
                    <div>
                        <div class="form-group">
                            <label class="sr-only labelText" for="exampleInputEmail3">支出:</label>
                            <input type="text" placeholder="小吃准备花多少元" value="" class="fileInput form-control" name="TTPay" onkeyup="filtration(this,event,/\D/g);">
                        </div>
                    </div>
                </div>
            </div>                       
            <div class="tuiCon">
                <div class="checkList more">
                    <input type="checkbox" value="1" name="pack" id="pack"/><label for="pack">打包带走</label>
                </div>
                <button type="button" class="btn btn-primary">开始生成</button>
            </div>
        </form>
        
        <div class="errorTip"></div>
        <div class="row resultTab">
            <div class="panel panel-default resultBabAll">
                <div class="panel-heading">
                    <div class="price">总价：<span></span></div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th width="200px">编码</th>
                            <th>描述</th>
                            <th>数量</th>
                            <th>价格</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="loaded">
        <span class="lIco"></span>
    </div>
<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    //搜索数组中是否存在指定的值。
    function inArray1(needle,array,bool){
        if(typeof needle=="string"||typeof needle=="number"){
            for(var i in array){
                if(needle===array[i]){
                    if(bool){
                        return i;
                    }
                    return true;
                }
            }
            return false;
        }
    }
    
    var selectValAll = {};
    function selectOnchang(obj){
        var value = obj.options[obj.selectedIndex].value;
        var name = $(obj).attr("name");
        selectValAll[name] = value;
    }

    //验证
    function filtration(obj,e,reg){
        if(!inArray1(e.which,[37,38,39,40,8]) && reg.test(obj.value) ){
            var _lenght = 0;
            $(obj).val(obj.value.replace(reg,function(e,index){
                _lenght = index;
                return '';
            }));
        }
    }
    $(function () {
        //CPU型号
        var Staple=$('#Staple');
        var StapleItem=$('#StapleItem');  //CPU频率
        var StaplePrice=$('#StaplePrice');          //CPU内核数
        
        //加载所有的型号数据
        $.get('/APP1/Staple',function (dic) {//{data:[{},{},{}]}
            $.each(dic.data,function (index, item) {//
                Staple.append('<option value="'+item.id+'">'+item.name+'</option>')
            })
        })

        //指定型号时的频率和核数联动
        $('#Staple').change(function () {
            if(parseInt($(this).val()) >= 0){
                $.get('/APP1/StapleSelected'+$(this).val()+'/',function (dic) {
                    StaplePrice.css('display','inline-block')
                    $.each(dic.data,function (index, item) {//
                        StapleItem.empty().append('<option value="'+item.ITEM_ID+'">'+item.ITEM_NAME+'</option>')
                        StaplePrice.empty().append('<option value="'+item.PRICE_ID+'">'+item.PRICE_NAME+'</option>')
                    })
                })
            }else{
                ajaxInfo();
            }
        })

        var recordTitle = "";
        function addTr(obj,title){
            if(obj){
                if(recordTitle != title){
                    var trFirst = '<tr class="titleTr"><td colspan="6">'+title+'</td></tr>';
                    $(".resultBabAll table tbody").append(trFirst);
                    recordTitle = title;
                }
                var tr = '<tr><td>'+obj.ITEM+'</td><td>'+obj.ITEM_DESCRIPTION+'</td><td>'+obj.Qty+'</td><td>'+obj.PRICE+'</td></tr>';
                $(".resultBabAll table tbody").append(tr);
            }
        }
        
        //推荐配置
        $("form .btn-primary").click(function(){
            selectValAll.TTPay = $("form .form-control[name=TTPay]").val();

            if($("form input[name=pack]").is(":checked")){
                selectValAll.pack = $("form input[name=pack]").val();
            }else{
                selectValAll.pack = 0;
            }
            
            $(".loaded").show();
            $.post("Recommend/",selectValAll,function(data){
                if(data && data.length > 0){
                    var data = JSON.parse(data);
                    if(data.Html_Status == "OK"){
                        createTr(data);
                    }
                    else if(data.Html_Status == "FAIL"){
                        $(".sites.details2 .errorTip").show().text(data.Html_Status_Detail);
                        $(".sites.details2 .resultTab").hide();
                    }
                    $(".loaded").hide();
                }
            })
        })
        //加载table数据
        function createTr(data){
            $(".sites.details2 .errorTip").hide()
            $(".sites.details2 .resultTab").show();
            $(".resultBabAll table tbody").empty();
            
            var summary = data.Html_Recommend_SUMMARY;      //汇总数据
            var conf = data.Html_Recommend_CONF;
            if(conf){
                conf = JSON.parse(conf);
                for(var i=0;i<conf.length;i++){
                    addTr(conf[i],conf[i].ITEM_CATEGORY);
                }
            }
            
            if(summary){
                $(".sites.details2 .price span").text((summary.TTPay).toFixed(2)+" 元");
            }
        }
    });

</script>

</body>

</html>