<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    
    <!-- 引入 Bootstrap -->
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'js/RSCUI/dialog.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'js/DropList/DropList.css' %}" rel="stylesheet" type="text/css" />  
    
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/sites.css' %}" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <title>PCI辅助设计</title>     

</head>

<body>

    <div class="sites container detail3">
        <div class="section-heading ">
            <div class="section-title">PCI引导</div>
            <div class="design-arrow"></div>
        </div>
        <p class="aligncenter">
            <span>PCI匹配引导</span>
        </p>
        <form action="uploads" id="uploadForm" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="exampleInputFile" class="fileTip">请上传配置文件：</label>
            <div class="chooseFile">
                <input type="button" value="选择文件" class="chooseBtn btn btn-default"/>
                <input type="button" value="下载BOQ样例" class="downloadBtn btn btn-default" />
                <div class="dropListCon parts">
                    <input type="text" placeholder="选择对比部件" class="editList input" readonly="readonly" />
                    <span class="ico">
                        <i class="iclass"></i>
                    </span>
                </div>
                <div class="dropListCon warehouse">
                    <input type="text" placeholder="选择对比对象" class="editList input" readonly="readonly" />
                    <span class="ico">
                        <i class="iclass"></i>
                    </span>
                </div>
                <div id="fileName"></div>
                <div class="chooseFileAll">
                    <input type="button" class="btn btn-danger look lookAll" value="查看全部" disabled>
                    <table role="presentation" class="table"><tbody id="files"></tbody></table> 
                </div>
            </div>
            <div class="help-block"></div>
            
            <input type="file" id="uploadform-excelfiles" class="excel_data" name="UploadForm[excelFiles][]"
            multiple class="attachment-upload" accept=".xlsx"/>
            <button type="button" class="btn btn-primary" id="fileUpload" disabled="disabled">开始分析</button>
            <button type="button" class="btn btn-primary" id="filedownload" disabled="disabled">导出Excel</button>
        </form>

        <div class="row resultTab"></div>
        <div class="explain">
            <p class="title">说明：</p>
            <div class="content"></div>
        </div>

        <div class="loaded">
            <span class="lIco"></span>
        </div>

    </div>

    <!--配置的分布详情-->
    <div id="configureDetail" class="dialogBoxEx box-tips pop">
        <div class="dialogTitle">
            <h2>配置的文件分布</h2>
            <span class="close"></span>
        </div>
        <div class="dialogContent">
            <b class="d-ico ico2"></b>
            <div class="content"></div>
            <div class="button">
                <input type="button" value="确 定" class="btn btn-primary okBtn">
            </div>
        </div>
    </div>
    
    <!-- 引入jQuery -->
    <script type="text/javascript" src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.table2excel.min.js' %}"></script>
    <script src="{% static 'js/RSCUI/RSCUI.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/DropList/DropList.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/base.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        
        var fileList;
        var allFile = [];
        //FormData对象初始化
        var form = document.getElementById("upload-form");
        var formData = new FormData(form);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        var isUpload = false;  //是否已经做过上传文件操作
        //上传多个文件
        $("#uploadform-excelfiles").on('change', function (e) {
            //获取表单数据并传入formData中
            var fileError = 0;
            fileList = e.currentTarget.files;
            if(isUpload){
                $(".chooseFileAll").show();
                $('#files').empty();
                allFile = [];
                formData.delete('UploadForm[excelFiles][]');
                isUpload = false;
            }
            $(".chooseFileAll").show();
            $.each(fileList, function (index, item) {
                var fileName = item.name;
                var fileEnd = fileName.substring(fileName.indexOf("."));
                //上传文件格式判断
                if (fileEnd == ".xlsx") {
                    allFile.push(item);
                    $('#files').append( '<tr style="padding-top: 7px;">' +
                            '<td><p class="fileName">'+fileName+'</p></td>' +
                            '<td>'+(item.size / 1024).toFixed(2)+'K</td>' +
                            '<td width="160px"><input type="button" class="btn btn-danger delete" value="删除"><input type="button" class="btn btn-danger look" value="查看结果" disabled></td>' +
                            '</tr>');
                    //追加文件
                    formData.append('UploadForm[excelFiles][]',item);
                } else {
                    fileError++;
                }
            });
            if (fileError > 0) {
                alert("只能上传 “.xlsx” 格式的文件!");
                document.getElementById("upload-form").reset();
                return;
            }
        
            var fileCount = $('#files').find('tr').length;
            $('#fileName').html('共上传 ' + fileCount + ' 个文件');
            if(allFile.length > 0){
                $("#fileUpload").removeAttr("disabled");
            }else{
                $("#fileUpload").attr("disabled","disabled");
            }
        });
        
        //删除文件
        $('#files').on('click','.delete',function (e) {
            var saveFile = [];
            var deleteName = e.target.parentNode.previousElementSibling.previousElementSibling.textContent;
            var deleteIndex;
            //将不删除的放入数组中
            $.each(allFile,function (index, item) {
                if(item.name == deleteName){
                    deleteIndex = index;
                }else {
                    saveFile.push(item);
                }
            });
            allFile.splice(deleteIndex,1);
            //表单数据重置
            formData.delete('UploadForm[excelFiles][]');
            //将不删除的数组追加的formData中
            $.each(saveFile,function (index, item) {
                formData.append('UploadForm[excelFiles][]',item);
            });
            
            e.target.parentNode.parentNode.remove();
            var fileCount = $('#files').find('tr').length;
            $('#fileName').html('共上传 ' + fileCount + ' 个文件');
            if(fileCount > 0){
                $("#fileUpload").removeAttr("disabled");
            }else{
                $("#fileUpload").attr("disabled","disabled");
            }
        });

        //查看结果
        $(".chooseFileAll").on("click",".look",function(){
            //查看全部
            if($(this).hasClass("lookAll")){
                createTable(dataAll["All_files"]); 
            }else{
                var fileName = $(this).parents("tr").find("td:eq(0)").text();
                var flag = false;
                for(var key in dataAll){
                    if(key == fileName){
                        createTable(dataAll[key]);
                       flag = true;
                        break;
                    }
                }
                if(!flag){
                    $(".sites .resultTab,.sites.detail3 .explain").empty();
                }
            }
            $(this).parents(".chooseFileAll").find(".btn-primary").removeClass("btn-primary");
            $(this).addClass("btn-primary");
        })
        
        var dataAll;
        //文件上传
        $("#fileUpload").on('click',function () {
            var len = formData.getAll('UploadForm[excelFiles][]').length;
            $("#overlay,.loaded").show();
            //下拉列表多选框筛选出未选择的项传给后台
            var noSelect = [];
            $(".dropListCon.parts .dropListUl .chk").each(function(){
                if($(this).hasClass("checkbox_false")){
                    noSelect.push($(this).next(".text").text());
                }
            })
            formData.set("noSelect",noSelect);
            var Repo = [];
            $(".dropListCon.warehouse .dropListUl .chk").each(function(){
                if($(this).hasClass("checkbox_true")){
                    Repo.push($(this).next(".text").text());
                }
            })
            formData.set("Repo",Repo);
            if(len > 0){
                var deleteBtn = $(".delete");
                //通过ajax进行上传
                $.ajax({
                    url: 'uploads',
                    type: 'POST',
                    cache: false,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(data){
                        dataAll = data = JSON.parse(data);
                        console.log(data);
                        $(".sites .resultTab").empty().show();
                        
                        $("#filedownload,.chooseFileAll .look").removeAttr("disabled");
                        $(".chooseFileAll .lookAll").addClass("btn-primary");
                        //$(".chooseFileAll").hide();
                        isUpload = true;
                        
                        createTable(data.All_files);
                        $(".sites.detail3 .explain").show();
                        //$(".explain .content").html(data.All_files.status_detail);
                        $(".loaded").hide();
                    }
                }).done(function(res) {
                    if(res.code == 'ok'){
                        //进度条设置
                        var value = 0;
                        var timer2 = setInterval(function () {
                            value ++;
                            $("#progress").css('width', value + "%");
                            if (value == 120) {
                                clearInterval(timer2);
                                $("#overlay").hide();
                                alert("文件上传成功!");
                            }
                        }, 50);
                        //删除对应按钮
                        $("#fileUpload").css("display","none");
                        $.each(deleteBtn,function (index, item) {
                            $(item).css("display","none");
                        });
                            $('#files').append('<tr><td><td><td><a type="button" class="btn btn-success pull-right" id="fileDown" href="/finalize/get-file?id=' + res.data.id + '" rel="external nofollow" >文件下载</a></td></tr>')
                    }
                    
                    }).fail(function(res) {
                        alert("文件上传失败:" + res.msg);
                    });
                }else {
                    alert("请选择需要上传的文件！");
                }
            });
            
            //创建所有的表格数据
            function createTable(data){
                $(".sites .resultTab").empty();
                for(var key in data){
                    var divAll;
                    if(key != "status_detail" && key != "status" && key.indexOf("order") == -1){
                        var dataVal = JSON.parse(data[key]);
                        divAll = $('<div class="panel-heading">'+key+'</div><div class="panel panel-default"><table class="table table-hover" role="presentation"><thead><tr></tr></thead><tbody></tbody></table></div>');
                        $(".sites .resultTab").append(divAll);
                        
                        //列名
                        var order = data[key+"_order"];
                        for(var i=0;i<order.length;i++){
                            //创建表头
                            var td = $("<td>"+order[i]+"</td>").appendTo(divAll.find("thead tr"));
                        }
                        for(var j=0;j<dataVal.length;j++){
                            var tr;
                            if(dataVal[j]["Father_ID"] == 0){  //一级
                                tr = $("<tr></tr>").appendTo(divAll.find("tbody"));
                                tr.attr("levelID",dataVal[j]["配型ID"]).data(dataVal[j]);
                            }
                            else if(dataVal[j]["Father_ID"] != 0){  //子级
                                tr = $("<tr></tr>").appendTo(divAll.find("tbody"));
                                divAll.find("tr[levelID='"+dataVal[j]["Father_ID"]+"']").after(tr);
                                tr.attr("Father_ID",dataVal[j]["Father_ID"]).addClass("child");
                                tr.prevAll("tr[levelID='"+dataVal[j]["Father_ID"]+"']").addClass("parent");
                            }
                            //创建每列数据
                            for(var k=0;k<order.length;k++){
                                var value = dataVal[j][order[k]].toString();
                                //给每个编码加tip提示
                                if(value.indexOf(";") != -1){
                                    var array = value.split(";");
                                    var joinvalue = "";
                                    for(var n=0;n<array.length;n++){
                                        if(array[n] != ""){
                                            var titleTip = dataAll.Description_dict[array[n]];
                                            joinvalue += '<span class="codeName" title="'+titleTip+'">'+array[n]+'</span>';
                                            if(n < array.length){
                                                joinvalue += ";";
                                            }
                                        }
                                    }
                                    value = joinvalue;
                                }
                                var td = $("<td>"+value+"</td>");
                                if(k == 0){
                                    td = $('<td><span class="treeDom"><span class="switch roots_close"></span><span class="text">'+value+'</span></span></td>');
                                }
                                if(order[k] == "台套数"){
                                    td = $("<td><a href='javascript:void(0)' class='num' title='点击查看详情' BOQnames='"+dataVal[j]["BOQnames"]+"'>"+value+"</a></td>");
                                }
                                tr.append(td);
                            }
                        }
                    }
                }
                $(".explain .content").html(data.status_detail);
            }
            
            //选择文件
            $(".chooseBtn").click(function(){
                $(".excel_data").click();
            });
            
            //下载模版
            $(".downloadBtn").click(function(){
                var $eleForm = $("<form method='get' class='temporaryFrom'></form>");
                $eleForm.attr("action","http://127.0.0.1:8000/APP2/downloadexample");

                $(document.body).append($eleForm);

                //提交表单，实现下载
                $eleForm.submit();
                $(".temporaryFrom").remove();
            });
            
            //表格点击展开子级数据
            $(".detail3 .resultTab").delegate(".parent .treeDom","click",function(){
                var levelID = $(this).parents("tr").attr("levelID");
                var table = $(this).parents("table");
                if($(this).find(".switch").hasClass("roots_close")){
                    table.find("tr[Father_ID="+levelID+"]").show();
                    $(this).find(".switch").removeClass("roots_close").addClass("roots_open");
                    $(this).parents("tr").find("td").each(function(i){
                        var pThat = $(this);
                        if(i > 1){
                            var tdVal = $(this).text();
                            table.find("tr[Father_ID="+levelID+"]").each(function(j){
                                var childTd = $(this).find("td:eq("+i+")");
                                if(tdVal != childTd.text() && tdVal != ""){
                                    //childTd.addClass("equal");
                                    pThat.addClass("equal");
                                }
                            });
                        }
                    })
                }else{
                    table.find("tr[Father_ID="+levelID+"]").hide();
                    $(this).find(".switch").addClass("roots_close").removeClass("roots_open");

                    $(this).parents("tr").find(".equal").removeClass("equal");
                    table.find("tr[Father_ID="+levelID+"]").find(".equal").removeClass("equal");
                }
            })
            
            //配置的分布详情
            $(".detail3").delegate(".num","click",function(){
                var names = $(this).attr("BOQnames").split(";");
                $("#configureDetail .content,#configureDetail_bak .content").empty();
                for(var i=0;i<names.length;i++){
                    var p = $("<p>"+names[i]+"</p>");
                    $("#configureDetail .content,#configureDetail_bak .content").append(p);
                }
                
                RSC.Dialog.Div({
                    fromDiv:{
                        divMark:"#configureDetail"
                    },
                    width:500,
                    height:400,
                    active:[
                        { domTag: "#configureDetail .okBtn", domEvent: "click", domDo: function (e) {
                            
                            e.data.close();
                        }},
                        { domTag: "#configureDetail .close", domEvent: "click", domDo: function (e) {
                            e.data.close();
                        }}]
                });
            })
            
            //下载分析结果
            $("#filedownload").click(function(){
                $(".resultTab").table2excel({  
                    exclude  : ".noExl", //过滤位置的 css 类名  
                    filename : "分析结果.xls", //文件名称  
                    name: "Excel Document Name.xlsx",  
                    exclude_img: true,  
                    exclude_links: true,  
                    exclude_inputs: true  
                });
            })

            var dropListData = [
               {title:"基本配置",value:"",childs:[{
                   title:"电源",value:""
               }]},
               {title:"CPU",value:"CPU",childs:[{
                   title:"SKYLAKE CPU",value:""
               },{
                   title:"SKYLAKE CPU(带内置盘机型专用)",value:""
               },{
                   title:"Haswell EP CPU",value:""
               },{
                   title:"Broadwell EP CPU",value:""
               }]},
               {title:"内存",value:"内存"},
               {title:"硬盘",value:"硬盘",childs:[{
                  title:'硬盘(带2.5"拉手条)',value:'',childs:[
                     {
                          title:'硬盘(带2.5"拉手条)-SAS',value:''
                       },
                     {
                          title:'硬盘(带2.5"拉手条)-SATA',value:''
                       },{
                          title:'硬盘(带2.5"拉手条)-SSD',value:''
                       },{
                          title:'硬盘(带2.5"拉手条)-NVMe',value:''
                       }
                  ]
               },
               {
                  title:'硬盘(带3.5"拉手条)',value:'',childs:[
                    {
                          title:'硬盘(带3.5"拉手条)-SAS',value:''
                       },
                     {
                          title:'硬盘(带3.5"拉手条)-SATA',value:''
                       },{
                          title:'硬盘(带3.5"拉手条)-SSD',value:''
                       },{
                          title:'硬盘(带3.5"拉手条)-NVMe',value:''
                       }
                  ]
               }
               ]},
               {title:"RAID卡",value:""},
               {title:"灵活网卡插卡",value:""},
               {title:"Riser 卡",value:""},
               {title:"PCIe卡",value:"",childs:[{
                  title:"PCIe卡-NIC",value:""
               },{
                  title:"PCIe卡-NIC/CNA card",value:""
               },{
                  title:"PCIe卡-FC card",value:""
               },{
                  title:"PCIe卡-IB card",value:""
               },{
                  title:"PCIe卡-IB/OPA card",value:""
               },{
                  title:"PCIe卡-GPU card",value:""
               },{
                  title:"PCIe卡-PCIe SSD card",value:""
               },{
                  title:"PCIe卡-PCIe SAS/RAID card",value:""
               }]},
               {title:"线缆和光模块",value:""},
               {title:"内置卡",value:""},
               {title:"光驱",value:""},
               {title:"滑轨和理线架",value:""},
               {title:"其他",value:""},
               ];
             
            $(".dropListCon.parts input").DropList({
               data:dropListData,
               isCheck:true,
               defaultCheck:true,
               isGetVal:false
             });
             

             var dropListData2 = [{
                 title:"欧洲PCI",value:""
             },{
                 title:"安平PCI",value:""
             }]
             $(".dropListCon.warehouse input").DropList({
               data:dropListData2,
               isCheck:true,
               defaultCheck:true,
               isGetVal:false
            });
    
    </script>
</body>
</html>